*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr ;
    grid-template-rows: 100px 300px 100px 50px;
    gap: 100px 10px ; 
    justify-content: center;
}
main :nth-child(2n){
    background-color: lightseagreen;

}
main :nth-child(2n-1){
    background-color: lightskyblue;
}