.box1 {
  background-color: coral;
}
.box1 .box2 {
  background-color: darkcyan;
}
.box1 .box2 .box3 {
  background-color: bisque;
}
.box1 h2 {
  text-align: center;
}

/* Direct child selector */

.box1 > h1 {
  color: silver;
}

.card > ul > #list4 {
  background-color: red;
}

/* adjacent sibling */

.card > ul > #list4 + li {
  color: brown;
}

/* general sibling */

.card > ul > #list4 + li ~ li {
  background-color: chartreuse;
}
