* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.outer {
  height: 100vh;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outer > .inner {
  height: 300px;
  width: 300px;
  background-color: cadetblue;
  /* transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transition-delay: 1s; */
  transition: all 2s ease-in-out 1s;
}
.outer > .inner:hover {
  background-color: rgb(3, 187, 249);
  border-radius: 50%;
}
